  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    color: rgb(44, 44, 44);
    position: sticky;
    top: 0;
    z-index: 1000;
  }
  
  /* Logo Section */
  .logo-container {
    display: flex;
    align-items: center;
  }
  
  .logo-image {
    width: 50px;
    height: 50px;
    margin-right: 1rem;
  }
  
  .logo-text {
    font-size: 1.8rem;
    font-weight: bold;
  }
  
  /* Navigation Links */
  .nav {
    display: flex;
    gap: 1.5rem;
  }
  
  .nav Link {
    text-decoration: none;
    color: white;
    font-size: 1rem;
    transition: color 0.3s ease;
  }
  
  .nav Link:hover {
    color: #ff9800;
  }

  #darkMode {
    padding-bottom: 15px;
  }

  input[type="checkbox"] {
    width: 0;
    height: 0;
    visibility: hidden;
  }

  label {
    width: 50px;
    height: 26px;
    position: relative;
    display: block;
    border-radius: 200px;
    box-shadow: inset 0px 5px 15px rgba(0, 0, 0, 0.4), inset 0px -5px 15px rgba(255, 255, 255, 0.4);
    cursor: pointer;
    transition: 0.3s;
  }

  label:after {
    content: "";
    position: absolute;
    top: 3px;
    left: 4px;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    background:linear-gradient(to right, #ff9800, #ffcf00);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
  }

  input:checked + label {
    background: #242424;
  }

  input:checked + label:after {
    left: calc(100% - 3px);
    transform: translateX(-100%);
    background: linear-gradient(180deg, #e2e2e2, #3a3a3a);
  }

  label:active:after {
    width: 30px;
  }
  
  /* Responsive Navbar */
  @media (max-width: 768px) {
    .nav {
      display: none; /* Cacher la navbar sur mobile */
      flex-direction: column;
      background-color: #282c34;
      position: absolute;
      top: 100%;
      right: 0;
      width: 100%;
      text-align: center;
      padding: 1rem 0;
    }
  
    .nav.active {
      display: flex; /* Afficher la navbar quand active */
    }
  }
  
  /* Toggle Button for Mobile */
  .nav-toggle {
    display: none;
    background-color: transparent;
    border: none;
    font-size: 1.5rem;
    color: white;
    cursor: pointer;
  }
  
  @media (max-width: 768px) {
    .nav-toggle {
      display: block; /* Afficher le bouton burger sur mobile */
    }
  }
  